<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>824799785966-o1ps93i08g4ktspvs9ilgptobb7o2fhj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.824799785966-o1ps93i08g4ktspvs9ilgptobb7o2fhj</string>
	<key>API_KEY</key>
	<string>AIzaSyBjljVo1RUUAC2iMciuKT-aN8uzRuFrQ-E</string>
	<key>GCM_SENDER_ID</key>
	<string>824799785966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.edmonscan.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>logmonster-51e0a</string>
	<key>STORAGE_BUCKET</key>
	<string>logmonster-51e0a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:824799785966:ios:5cc8b7e3d383c4d70c54ff</string>
	<key>DATABASE_URL</key>
	<string>https://logmonster-51e0a-default-rtdb.firebaseio.com</string>
</dict>
</plist>